DEVICE_ORIGIN=https://flowa.test:8443
DEVICE_RELAY_ORIGIN=https://flowa.test:8444
# Change explicitly to 0.0.0.0 (IPv4 LAN) when ready to allow other devices.
DEVICE_HOST=127.0.0.1
DEVICE_TLS_CERT=.certs/flowa.pem
DEVICE_TLS_KEY=.certs/flowa-key.pem
